a:link,a:visited {
            text-decoration: none;
        }

        .home-list {
            width: 100%;
            height: 10%;
            text-align: center;
            background: #FAFAFA;
            border: #FAFAFA solid 1px;
            padding-bottom: 1px;
        }

        .home-bg {
            background: #CFD8DC;
        }

        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            position: absolute;
            margin-top: 200px;
            width: 100%;
            height: 100%;
        }

        .card {
            flex-grow: 2;
            flex-shrink: 1;
            overflow: hidden;
            word-break: break-all;
            text-align: center;
            position: relative;
            width: 24%;
            height: 25%;
            border: #FAFAFA solid 1px;
        }

.rect {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    margin-left: 43%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    font-size: 25px;
    text-align: center;
    line-height: 200px;
    background-color: #bbbbbb;
    opacity: 0.5;
    animation: rotate 8s infinite linear;
}
@keyframes rotate {
    from {-webkit-transform: rotateY(0);}
    to {-webkit-transform: rotateY(-360deg);}
}
.back {
    width: 300px;
    height: 300px;
    float: left;
    background-size: cover;
    /* transform: rotate3d(1,-1,0,60deg); */
    /* transform: skew(30deg,10deg); */
    /* transform: scale(1.1,1.1); */
    transform: translate(200px,200px);
}
.transition {
    height: 100px;
    width: 100px;
    transition: height 0.6s;
    background-color: red;
}
.transition:hover {
    height: 300px;
}
.transition2 {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: first 5s infinite;
}
@keyframes first {
    0% {background: red;left: 0px;top: 0px;}
    25% {background: yellow;left: 200px;top: 0px;}
    50% {background: blue;left: 200px;top: 200px;}
    75% {background: green;left: 0px;top: 200px;}
    100% {background: red;left: 0px;top: 0px;}
}